
.wrapper {
	margin: auto;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

.input {
	display: flex;
	margin: 10px;
	height: 100px;
}

.input input{
	flex: 1;
	height: 100;
	text-align: center;
	border-bottom: 2px solid #D9E8F5;
	border-top: 2px solid #D9E8F5;
	border-left: 2px solid #D9E8F5;
	border-right: transparent;
	background: linear-gradient(to left, #FFFFFF , #D9E8F5);
	font-size: 40px;

}

.analyze{
	border: transparent;
	background-color: #D9E8F5;
	font-size: 40px;
	text-decoration: underline;

}

.loader {
	display: flex;
	justify-content: center;
	padding: 20px;
}